.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: .5s;
    &.active{
        top: -30px;
        transition: .5s;
    }
    &__top{
        background:  #939878;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        position: relative;
        &-text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
        }
        &-close{
            position: absolute;
            right: 50px;
        }
    }
    &__end{
        padding: 21px 0;
        &-content{
            display:flex;
            justify-content: space-between;
        }
        &-links{
            display: flex;
            column-gap: 32px;
        }
        &-link{
            display: flex;
            column-gap: 4px;
            align-items: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #222222;
        }
        &-right{
            display: flex;
            column-gap: 24px;
        }
        &-btns{
            display: flex;
            column-gap: 16px;
            &_cart{
                padding: 9px 21px;
                display: flex;
                column-gap: 4px;
                align-items: center;
                background: #FFFFFF;
                border: 1px solid #E7E8E3;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                border-radius: 6px;
            }
            &_property{
                padding: 9px 21px;
                background: #CF6F49;
                border: 1px solid #CF6F49;
                border-radius: 6px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}