.locations{
    background: #F5F5F2;
    padding-bottom: 360px;
    &__content{
        text-align: center;
        &-title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            text-align: center;
            color: #2A2C1F;
        }
        &-text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            color: #65665C;
            margin: 25px 0 73px;
        }
        &-row{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
            &_item{
                text-align: start;
                background: #FFFFFF;
                border: 1px solid #E7E8E3;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                border-radius: 16px;
                padding: 33px;
                display: flex;
                flex-direction: column;
                row-gap: 12px;
            }
            &_name{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                color: #2A2C1F;
            }
            &_properties{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #2A2C1F;
                display: flex;
                align-items: center;
                column-gap: 10px;
            }
        }
        &-btns{
            margin-top: 80px;
            display: flex;
            justify-content: center;
            column-gap: 24px;
            &_explore{
                background: #FFFFFF;
                border: 1px solid #E7E8E3;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                border-radius: 6px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #2A2C1F;
                padding: 13px 25px;
            }
            &_contact{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #2A2C1F;
                display: flex;
                align-items: center;
                column-gap: 5px;
                border: none;
                background: #F5F5F2;
            }
        }
    }
}