.magazine{
    &__content{
        display: flex;
        justify-content: space-between;
        margin: 67px 0 122px;
    }
    &__text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #2A2C1F;
    }
    &__right{
        display: flex;
        column-gap: 32px;
        &-item{
            width: 120px;
            height: 30px;
        }
    }
}