.priority{
    background: #fff;
    &__content{
        position: relative;
        bottom: 232.5px;
        text-align: center;
        background: #65665C;
        border-radius: 24px;
        padding: 96px 0;
        &-title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            text-align: center;
            color: #FFFFFF;
            margin: 13px 0 29px;
        }
        &-text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            color: #E7E8E3;
        }
        &-btn{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            background: #CF6F49;
            border: 1px solid #CF6F49;
            border-radius: 6px;
            padding: 13px 25px;
            width: 137px;
            margin: 21px auto 0;
        }
    }
}