.properties{
    background: #F5F5F2;
    padding: 128px 0 160px;
    position: relative;
    &__icon1{
        position: absolute;
        top: 0;
        right: 0;
    }
    &__icon2{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__content{
        text-align: center;
        &-subtitle{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #2A2C1F;
            background: #E7E8E3;
            border-radius: 32px;
            padding: 4px 12px;
        }
        &-title{
            margin: 22px 0 82px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            text-align: center;
            color: #2A2C1F;
        }
        &-row{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 32px;
        }
        &-item{
            background: #FFFFFF;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
            border-radius: 12px;
            text-align: start;
            &_img{
                width: 100%;
            }
            &_name{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;
                color: #2A2C1F;
            }
            &_description{
                padding: 24px;
            }
            &_price{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                color: #2A2C1F;
            }
            &_location{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #65665C;
                display: flex;
                column-gap: 10px;
                align-items: center;
                margin-top: 16px;
            }
            &_characteristic{
                display: flex;
                margin-top: 16px;
                display: flex;
                column-gap: 26px;
            }
            &_bath{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #65665C;
                display: flex;
                column-gap: 10px;
                align-items: center;
            }
            &_badroom{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #65665C;
                display: flex;
                column-gap: 10px;
                align-items: center;
            }
            &_sqft{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #65665C;
                display: flex;
                column-gap: 10px;
                align-items: center;
            }
        }
        &-btns{
            margin-top: 80px;
            display: flex;
            justify-content: center;
            column-gap: 24px;
            &_explore{
                background: #FFFFFF;
                border: 1px solid #E7E8E3;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                border-radius: 6px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #2A2C1F;
                padding: 13px 25px;
            }
            &_contact{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #2A2C1F;
                display: flex;
                align-items: center;
                column-gap: 5px;
                border: none;
                background: #F5F5F2;
            }
        }
    }
}